telegram-bot/addresses.txt
telegram-bot/*.session
telegram-bot/*.session-journal
telegram-bot/session_name.session
telegram-bot/session_name.session-journal
telegram-bot/system_usage.log
tests/testConfig.json

# Ignore Python cache files
telegram-bot/__pycache__
telegram-bot/*.pyc
telegram-bot/*.pyo

# Ignore log files
telegram-bot/*.log