addresses.txt
*.session
*.session-journal
session_name.session
session_name.session-journal
system_usage.log
tests/testConfig.json

# Ignore Python cache files
__pycache__
*.pyc
*.pyo

# Ignore log files
*.log